/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common stylesheet */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1300px;
    margin: 3% auto;
}

/* header area style */
.top-header-banner {
    background-color: #161616;
    border-radius: 30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left {
    width: 40%;
    color: white;
}

.header-heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0;
}

.header-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.live-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #DD0000;
    text-align: center;
    padding: 16px 25px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.8s;
}

.live-btn:hover {
    background: white;
    color: #DD0000;
}

.fa-arrow-right {
    margin-left: 10px;
}

.header-right {
    width: 50%;
    margin-bottom: -7px;
}

.header-right img {
    width: 100%;
}