/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common stylesheet */
body {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Poppins', sans-serif;
    max-width: 1300px;
    margin: 3% auto;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*--------------------------
    header area style
 ------------------------------- */

.top-header-banner {
    background-color: #161616;
    border-radius: 30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left {
    width: 40%;
    color: white;
}

.header-heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0;
}

.header-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.live-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #DD0000;
    text-align: center;
    padding: 16px 25px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.8s;
}

.live-btn:hover {
    background: white;
    color: #DD0000;
}

.fa-arrow-right {
    margin-left: 10px;
}

.header-right {
    width: 50%;
    margin-bottom: -7px;
}

.header-right img {
    width: 100%;
}

/* --------------------------
     footer area 
-----------------------------*/
footer {
    background-color: #161616;
    color: white;
    text-align: center;
}

.goal {
    position: relative;
    top: 50px;
    padding: 50px;
}

.goal-line {
    font-size: 40px;
}

.footer-menu {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.footer-menu a {
    margin-right: 30px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    color: #B9B9B9;
    text-decoration: none;
    bottom: 43px;
}

.social-icon {
    color: white;
    position: relative;
    bottom: 65px;
}

.social-icon a i {
    font-size: 30px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    margin-right: 10px;
    transition: 0.2s;
}

.social-icon i:hover {
    border: none;
}